// Solarized color palette
// Taken from ethanschoonover.com/solarized
$base03: #2b2a27;
$base02: #282725;
$base01: #586e75;
$base00: #657b83;
$base0: #839496;
$base1: #93a1a1;
$base2: #ede0ce;
$base3: #fdf6e3;
$yellow: #bcd42a;
$orange: #cb4b16;
$red: #ff5d38;
$magenta: #c678dd;
$violet: #a9a1e1;
$blue: #51afef;
$cyan: #46d9ff;
$green: #98be65;

// Theme Colors
$color-base: $base03;
$color-highlight: $cyan;

$color-red: $red;
$color-green: $green;
$color-yellow: $yellow;

$black: $base02;
$white: $base2;

$color-shade-darkest: darken($color-base, 5%);
$color-shade-dark: darken($color-base, 2%);
$color-shade-mid: $color-base;
$color-shade-light: lighten($color-base, 2%);
$color-shade-lightest: lighten($color-base, 5%);

// Font Colors
$base-font-color: lighten($base1, 5%);
$base-font-family: -apple-system;

$base-link-color: $blue;
$base-link-color-active: $red;
